<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

    <title>Casdastro</title>
    
</head>
<body>

	<div class="container">
	
	    <header>
	        <h1>Cadastro de Pessoas</h1>
	    </header>
	
	    <div class="formulario">
	        <form action="" method="post">
	            Nome: <input type="text" id="campo-nome" name="nome" placeholder="Informe seu nome" />
	            <br/>
	
	            <button type="submit" class="waves-effect waves-light btn" ><i class="material-icons left">add</i>Salvar</button>
	            <a href="/pessoas" class="waves-effect waves-light btn"><i class="material-icons left">menu</i>Lista</a>
	        </form>
	    </div>
	
	    <!--Materialize-->
	    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    
	</div>
</body>
</html>