<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casdastro</title>
</head>
<body>

    <header>
        <h1>Cadastro de Pessoas</h1>
    </header>

    <div class="formulario">
        <form action="" method="post">
            Nome: <input type="text" id="campo-nome" name="nome" placeholder="Informe seu nome" />
            <br/>
            <input type="submit" id="btn-cadastrar" value="Cadastrar"/>
        </form>
    </div>
    
</body>
</html>