<!DOCTYPE html>
<html lang="pt-BR"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
</head>
<body>
    
    <header>
        <h1>Página Inicial</h1>
    </header>

    <div>
        <h2>Sistema de cadastro de pessoas</h2>
        <p><a href="/pessoas/cadastrar">Cadastro!</a>!</p>
    </div>

    <div th:each="pessoa: ${pessoas}">
        <div class="row">
            <p><span th:text="${pessoa.nome}"></span></p>
        </div>
    </div>

</body>
</html>