<!DOCTYPE html>
<html lang="pt-BR"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

    <title>Página inicial</title>
</head>
<body>

	<div class="container">
    
	    <header>
	        <h1>Sistema de cadastro de pessoas</h1>
	    </header>
	
	    <div>
	        <a href="/pessoas/cadastrar" class="waves-effect waves-light btn"><i class="material-icons right">arrow_forward</i>Cadastro</a>
	    </div>
	
		<table class="striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOME</th>
					<th>DATA DE NASCIMENTO</th>
				</tr>
			</thead>
			
			<tbody>
		    	<tr th:each="pessoa: ${pessoas}">
		            <td><span th:text="${pessoa.id}"></span></td>
		            <td><span th:text="${pessoa.nome}"></span></td>
		            <td><span th:text="${pessoa.dataNasc}"></span></td>
				</tr>
			</tbody>
		</table>
	
	    <!--Materialize-->
	    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    
	</div>
	
</body>
</html>